/* Effects */
.overlay-corner {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(50px) translateX(50px);
	transform: translateY(50px) translateX(50px);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
}

.overlay-corner.open {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}